.janle{
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    align-items:center;
    

}
.janle{
    color: brown;
    font-size:  30px;;
}